@model IEnumerable<MyClass.Models.Menu>
@if (Model.Count() != 0)
{
    <nav class=" navbar-expand-lg bg-cyan">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8 my-2">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-list"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @foreach (var menu in Model)
                            {
                                @Html.Action("MainMenuSub", "Module", new { @id = menu.Id })
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
}
